/* https://carlosbakery.com/ */
/* https://orders.carlosbakery.com/carlos-times-square/menu */


.txt-rojo{ color: #9f0933; }
.txt-gold{ color: #9D7D4E;}
.txt-azul{color: #93c6e4;}

body{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
a{ text-decoration: none; }



/* anuncio ------------------------------------------------------------------ */



/* encabezado --------------------------------------------------------------- */
.encabezado{
  background-color: #93c6e4; 
  overflow: hidden;
  height: 150px;
}

.encabezado1{
  background-color: #93c6e4; 
  overflow: hidden;
  height: 100px;
}


.enc-izq{
  font-weight: bold;
}
.boton{
  color: #93c6e4;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s;
}
.boton:hover{
  color:#125074;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px #125074;
  transform: translateX(-5px);
  transition: all 0.2s;
}








.carta:hover{
  transform: scale(0.98);
  transition-duration: 0s;
  
}




.enc-dcha{
  float: right;
  margin-top: 15px;
  font-weight: bold;
}



.enc-dcha a {
  float: left;
  text-align: center;
  margin-left: 30px;
  font-size: 24px;
}




/* banner principal --------------------------------------------------------- */
.banner {
    background-image: url(../img/banner_CB-Rainbow.webp);
    height: 20rem;                                 /* Doy altura porque esta vacio*/
    background-size: cover;                        /* Llena todo el espacio disponible */
    background-position: center center;            /* Crece la imagen desde el centro */
}

.banner h1 {
  margin:0;
  padding-top: 50px;
  padding-left: 50px;
  line-height: 1.2em;
}

.banner p {
  padding: 25px 50px;
  line-height: 1.5em;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.txt-banner{
  font-family: 'Pacifico';
  color:#9f0933;
}



/* menu  -------------------------------------------------------------------- */
.menu a{
  text-align: center;
  margin-right: 30px;
  font-weight: bold;
}
.menu a:hover{
  color:chocolate;
}
.menu a:last-child{
  margin-right: 0px;
}

.esp{word-spacing: 3px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}


/* productos  --------------------------------------------------------------- */
.productos{
  text-align: center;
  font-size: 1.15em; 
}

.tamaño{
  width: 300px;
  height: 235px;
}


figure{
  margin: 0px;
}

figcaption{
  padding: 20px 0;
}

.mg-producto { margin: 0 5em 5em 5em;}

#ul, li{
  display: inline-block;
  align-self: center;
  width: 20%;
  z-index: 2;
}



/* pie ---------------------------------------------------------------------- */
footer{
  background-color: #93c6e4; 
}



.logo{
  width: 7%;
}


@media screen and (min-width: 576px) {
  
  .logo{
    width: 13%;
  }
  
}

@media screen and (max-width: 576px) {
  
  .logo{
    width: 50%;
  }
  .encabezado1{
    height: 100px;
    
  
  }
  .encabezado{
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .ajustar{
    justify-content: center;
    align-items: center;
  }
  
  .espacio{
    overflow: hidden ;
  }
}

.dropdown-menu{
  z-index: 2;
}
.btn-group{
  z-index: 2;
}