.carduilengua {
    width: 100%;
    height: 254px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    font-size: 30px;
    font-weight: 900;
}

.carduilengua:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    background: rgb(103, 151, 255);
}

.carduilengua:hover .first-content {
    height: 0px;
    opacity: 0;
}

.carduilengua:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.carduigest {
    width: 100%;
    height: 254px;
    background: #fefda6;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    font-size: 30px;
    font-weight: 900;
}

.carduigest:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    background: #eced87;
}

.carduigest:hover .first-content {
    height: 0px;
    opacity: 0;
}

.carduigest:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.carduisocial {
    width: 100%;
    height: 254px;
    background: #8ae287;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    font-size: 30px;
    font-weight: 900;
}

.carduisocial:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    background: #69cd68;
}

.carduisocial:hover .first-content {
    height: 0px;
    opacity: 0;
}

.carduisocial:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.carduiarts {
    width: 100%;
    height: 254px;
    background: #fed2e5;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    font-size: 30px;
    font-weight: 900;
}

.carduiarts:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    background: #edbad1;
}

.carduiarts:hover .first-content {
    height: 0px;
    opacity: 0;
}

.carduiarts:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.carduivalores {
    width: 220px;
    height: 254px;
    background: #d78fef;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    font-size: 30px;
    font-weight: 900;
}

.carduivalores:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    background: #b671cf;
}

.carduivalores:hover .first-content {
    height: 0px;
    opacity: 0;
}

.carduivalores:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.carduimeto {
    width: 100%;
    height: 254px;
    background: #ff7c70;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    font-size: 30px;
    font-weight: 900;
}

.carduimeto:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    background: #ed5c53;
}

.carduimeto:hover .first-content {
    height: 0px;
    opacity: 0;
}

.carduimeto:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

@media screen and (max-width: 768px){
    .carduilengua {
        width: 220px;
        height: 254px;
        background: rgb(103, 225, 255);
        transition: all 0.4s;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
        font-size: 30px;
        font-weight: 900;
    }
    .carduimeto {
        width: 220px;
        height: 254px;
        background: #ff7c70;
        transition: all 0.4s;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
        font-size: 30px;
        font-weight: 900;
    }
    .carduigest {
        width: 220px;
        height: 254px;
        background: #fefda6;
        transition: all 0.4s;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
        font-size: 30px;
        font-weight: 900;
    }
    .carduisocial {
        width: 220px;
        height: 254px;
        background: #8ae287;
        transition: all 0.4s;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
        font-size: 30px;
        font-weight: 900;
    }
    .carduiarts {
        width: 220px;
        height: 254px;
        background: #fed2e5;
        transition: all 0.4s;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
        font-size: 30px;
        font-weight: 900;
    }
}